.cards__item {
  width: 240px;
  text-align: center;
  margin-right: 100px;
  margin-bottom: 60px;
}

.cards__item.cards__item:nth-child(3n) {
  margin-right: 0;
}

/* На мой взгляд, если в дальнейшем потребуется добавлять больше карточек, то свойства ниже стоит убрать
и создавать другие значения для псевдоклассов. Но в данной ситуации у нас есть бриф, поэтому, как сделать иначе,
не отходя от него, я пока не придумал. Скорее всего тут следует использовать grid, но пока что я его плохо знаю */
.cards__item:nth-child(4) {
  margin-bottom: 0;
}

.cards__item:nth-child(5) {
  margin-bottom: 0;
}
